<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <% if (locals.style) { %>
    <link rel="stylesheet" href="<%= style %>">
  <% }; %>
  <link rel="shortcut icon" href="/images/mars.svg" />
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <title>SpaceX API Explorer</title>
  <meta name="title" content="SpaceX Tribute">
  <meta name="description" content="Learn about all things SpaceX. Made using the SpaceX API. Not affiliated.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://metatags.io/">
  <meta property="og:title" content="SpaceX Tribute">
  <meta property="og:description" content="Learn about all things SpaceX. Made using the SpaceX API. Not affiliated.">
  <meta property="og:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://metatags.io/">
  <meta property="twitter:title" content="SpaceX Tribute">
  <meta property="twitter:description" content="Learn about all things SpaceX. Made using the SpaceX API. Not affiliated.">
  <meta property="twitter:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
</head>
<body>
