<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <% if (locals.style) { %>
    <link rel="stylesheet" href="<%= style %>">
  <% }; %>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <title>SpaceX API Explorer</title>
</head>
<body>
