<nav id='navbar'>
  <img id="logo" src="/images/logo.svg" alt="logo">
  <ul id="nav">
    <li><a class="navbtn" href="/">Home</a></li>
    <li class="dropdown">
      <a class="navbtn" href="/rockets">Rockets</a>
      <div class="dropdown-content">
        <% Array.from(data.rockets).forEach(rocket => { %>
            <a class="navbtn" href="/rockets/<%= rocket.id %>"><%= rocket.rocket_name %></a>
        <% }); %>
      </div>
    </li>
    <li class="dropdown">
      <a class="navbtn" href="/capsules">Capsules</a>
      <div class="dropdown-content">
        <% Array.from(data.capsules).forEach(capsule => { %>
            <a class="navbtn" href="/capsules/<%= capsule.capsule_serial %>"><%= capsule.capsule_serial %></a>
        <% }); %>
      </div>
    </li>
    <li class="dropdown">
      <a class="navbtn" href="/missions">Missions</a>
      <ul class="dropdown-content">

      </ul>
    </li>
    <li><a class="navbtn" href="/gallery">Gallery</a></li>
    <li><a class="navbtn" href="/about">About</a></li>
    <li><a class="navbtn" href="/history">History</a></li>
  </ul>
  <li class="navbtn" id="menuBtn"><img src="/images/hamburger.svg" alt="menu"></li>
</nav>
<script src="/javascripts/navbar.js" charset="utf-8"></script>
