<nav class="navbar">
  <img id="burger" onclick="toggleMenu()" src="/images/mars.svg" alt="">
  <a class="navitem" id="firstnavitem" href="/"><img class="icon" src="/images/home.svg">Home</a>
  <a class="navitem" href="/vehicles"><img class="icon" src="/images/rocket.svg" alt="">Vehicles</a>
  <a class="navitem" href="/launches"><img class="icon" src="/images/missions.svg" alt="">Launches</a>
  <a class="navitem" href="/gallery"><img class="icon" src="/images/gallery.svg" alt="">Gallery</a>
  <a class="navitem" href="/history"><img class="icon" src="/images/history.svg" alt="">History</a>
  <a class="navitem" id="lastnavitem" href="/about"><img class="icon" src="/images/about.svg" alt="">About</a>
</nav>
