<%- include('partials/head', {style: '/stylesheets/about.css'}); %>
<%- include('partials/navbar'); %>
<header>
  <h1>About</h1>
</header>
<section id="location">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3310.770201198548!2d-118.3290669847884!3d33.92131348064178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b5ded9a490b5%3A0x3095ae5795c500b3!2sRocket%20Rd%2C%20Hawthorne%2C%20CA%2090250!5e0!3m2!1sen!2sus!4v1588345641299!5m2!1sen!2sus" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
  </iframe>
</section>
<%- include('partials/foot'); %>
