<%- include('partials/head'); %>
<%- include('partials/navbar'); %>
<header>
  <h1>Gallery</h1>
  <p>All images courtesy of SpaceX.</p>
  <p>Flickr API</p>
</header>
<section id="gallery">
  <% data.forEach(photo => { %>
    <img src="<%= photo %>" alt="" class="photo">
  <% }); %>
</section>
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="modalImg">
</div>
<%- include('partials/foot'); %>
