<%- include('partials/head', {style:'/stylesheets/gallery.css'}) %>
<%- include('partials/navbar'); %>
<header>
  <img class="header-img" src="/images/logo.svg" alt="spacex logo">
</header>
<section id="masonry-wrapper">
  <h1>Gallery</h1>
  <p>All photos courtesy of SpaceX</p>
  <div class="masonry">
    <% pics.forEach(photo => { %>
        <div class="masonry-item">
          <img src="<%= photo %>" alt="" class="masonry-content">
        </div>
    <% }); %>
  </div>
</section>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="/javascripts/masonry.js" charset="utf-8"></script>
<%- include('partials/foot'); %>
