<%- include('partials/head'); %>
<%- include('partials/navbar', data); %>
  <header id="video-header">
    <img src="/images/logo.svg" alt="logo">
    <div class="bg-video">
      <iframe frameborder="0" height="100%" width="100%" src="https://youtube.com/embed/A0FZIwabctw?wmode=transparent&start=16&mute=1&autoplay=1&loop=1&controls=0&modestbranding=1&fs=0&autohide=1&playlist=A0FZIwabctw&iv_load_policy=3"></iframe>
    </div>
    <div class="video-overlay"></div>
  </header>
<%- include('partials/foot'); %>
