<%- include('partials/head', {style: '/stylesheets/rockets.css'}); %>
<%- include('partials/navbar'); %>
<header>
  <h1>Rockets</h1>
</header>
<section>
  <%- include('rocket/listshow', {rockets: rockets}) %>
</section>
<%- include('partials/foot'); %>
