* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', sans-serif;
}

:root {
  --primary-blue: rgba(0, 82, 136, 1);
  --primary-grey: rgba(184, 186, 189, 1);
  --secondary-blue: rgba(0, 59, 111, 1);
  --secondary-grey: rgba(236, 233, 223, 1);
  --primary-black: rgba(39, 39, 39, 1);
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--primary-black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-blue);
}

/* Mobile */
@media screen and (max-width: 600px) {
  .navbar {
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-blue);
  }

  .navitem {
    display: none;
  }
  #firstnavitem {
    margin-top: 3rem;
  }

  #burger {
    padding: 0.5rem;
    box-sizing: content-box;
    width: 3rem;
    position: fixed;
    right: 0;
    top: 0;
    opacity: 0.8;
  }

  footer {
    display: none !important;
  }
}

/* Desktop */
@media screen and (min-width: 600px) {
  .navbar {
    top: 25%;
    left: 0;
    width: 3rem;
    max-width: 15%;
    max-height: 25rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--primary-blue);
    transition: width 500ms ease-in;
  }

  .navbar:hover {
    width: 15% !important;
  }

  .navitem {
    display: block;
  }

  #firstnavitem {
    border-top-right-radius: 10px;
  }

  #lastnavitem {
    border-bottom-right-radius: 10px;
  }

  #burger {
    display: none;
  }
}

body {
  background-color: #2B303A;
}

.navbar {
  position: fixed;
  z-index: 2;
}

.navitem {
  color: var(--secondary-grey);
  padding: 1rem;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: background 300ms;
  -o-transition: background 300ms;
  transition: background 300ms;
}

.navitem:hover {
  background-color: rgba(39, 39, 39, 1);
}

.icon {
  width: 1rem;
  margin-right: 1rem;
}

.show {
  display: block !important;
}

img {
  width: 100%;
}

footer {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,0.7);
}

footer a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: var(--secondary-blue);
}

footer a:hover {
  background-color: var(--primary-black);
  color: var(--secondary-grey);
}

section h1 {
  text-align: center;
  color: var(--secondary-grey);
  font-weight: normal;
}
