* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

#logo {
  height: 1rem;
  position: fixed;
  left: 1rem;
}

#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  margin-right: 1rem;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex: row nowrap;
  -ms-flex: row nowrap;
  flex: row nowrap;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,0.8);
  -webkit-box-shadow: 0px 0.5px 3px rgba(0,0,0,0.5);
  box-shadow: 0px 0.5px 3px rgba(0,0,0,0.5);
}

#navbar ul {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex: row nowrap;
  -ms-flex: row nowrap;
  flex: row nowrap;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.navbtn {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: black;
  -webkit-transition: background 500ms;
  -o-transition: background 500ms;
  transition: background 500ms;
}

.navbtn:hover {
  background-color: rgba(0,0,0,0.5);
  color: white;
}

.navbtn:active {
  background-color: rgba(0,0,0,0.5);
  color: white;
}

header {
  margin-top: 5rem;
}

header h1, p {
  font-weight: normal;
  text-align: center;
}

/* Gallery CSS */
@media only screen and (min-width: 700px){
  #gallery {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;
  }
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }

  #gallery {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap:   0px;
    -moz-column-count:    2;
    -moz-column-gap:      0px;
    column-count:         2;
    column-gap:           0px;
  }
}


.photo {
  width: 100% !important;
  height: auto !important;
  padding: 0.5px;
  cursor: pointer;
  transition: 0.3s;
}

.photo:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 3rem;
  width: 100%; /* Full width */
  height: 90%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
}


/* Add Animation - Zoom in the Modal */
.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
