ul {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
  list-style-type: none;
}

section li {
  padding: 1rem;
  margin: 1rem;

}

img {
  width: 10rem;
}
