<ul>
  <% rockets.forEach(rocket => { %>
    <li>
      <a href="/rockets/<%= rocket.id %>">
        <img src="<%= rocket.flickr_images[1] %>" alt="">
        <h3><%= rocket.rocket_name %></h3>
        <p><%= rocket.description %></p>
      </a>
    </li>
  <% }); %>
</ul>
